* {
    box-sizing: border-box;            /*Set all elements on the page to border-box*/
}

body {
    margin: 0;
    padding: 0;                        /*Set margin and padding to 0 to remove unwanted white space*/
}

.mainIndexContainer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 25px;
    background-image:url('../img/indexwallpaper.jpg');      /*Div class which contains every element on the page*/
    background-size: cover;
    background-color:#848e94;
    display: flex;
    flex-direction: column;
}

.mainIndexHeader{
    width: 100%;
    height: 100px; 
    background-color: rgba(20, 28, 44, 0.5);            /*Div class which is the header of the website*/
    padding: 0px;
    display:flex;
    justify-content: space-between;
  
}

.mainIndexButtonsContainer{
    width: 100%;
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;                            /*Div class which contains the navigation buttons of the website*/
    align-items: center;
    align-self: flex-start;
    margin-right: 900px;
}

.indexNavigationButtons {
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;      /*Button class which applies to the navigation buttons of the website*/
    color: white;
    background-color:transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1; 
    font-weight: bold;
    text-transform: uppercase;

}

.indexNavigationButtons:hover {
    background-color: #17283a;
    border-bottom: 3px rgb(192, 8, 8) solid;       /*Styling rule for hover state that belongs to the navigation buttons of the website*/
}

.homeButton{
    border:none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
    background-image: url(../img/homeIcon.png);     /*Button class which applies to the home button of the website*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    margin-left: 800px;
    top:25px;
}

.containImg{
    object-fit: contain;
    object-position: 0%;
    width: auto;                    /*Styling rule for the images in the header div*/
    max-width: 160%;
    height: 100%;
}

.headerImages{
    display:flex;
    align-items: center;           /*Div which contains images within the header*/
    width: 100%;
}

.showFooterDiv{
    width: 100%;
    height:100vh;
    background-color: rgba(20, 28, 44, 0.5);       /*Div which contains the logos of Gundam shows in the Shows page*/
    display:flex;
    flex:1;
    overflow:hidden;
    align-content: space-between;
    padding:10px;
}


.slider {
    width: 100%; 
    height: auto; 
    border-radius: 10px;        /*Parent div of the slider on the home page*/
    overflow: hidden;
    margin: auto;
}

.slides {
    width: 400%; 
    height: 100%;              /*Child div inside the slider div*/
    display: flex;
}

.slides input{                  
    display:none;             /*Styling rule for the radio buttons within the slides div*/
}

.slide{
    object-fit: contain;     /*Child div inside the slides div*/
    transition: 2s;
}

.slide img {
    width: 100%;            /*Styling rule for images within the slide div*/
    height: auto; 
}

.navigation-manual{
    position: absolute;
    width: 100%; 
    bottom: 20px; 
    display: flex;
    justify-content: center;
}

.navigation-auto{
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right:40px;
}

.titlesButtonContainer {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 93%;
    background: transparent;
    padding: 20px;
}

.titlesButtonContainer a{
    width: 70%;
    text-align: center;
    padding: 19px;
    text-decoration: none;
    background:linear-gradient(90deg,rgb(5, 26, 68),rgb(104, 3, 3));
    align-items: vertical;
}

.titlesButtonContainer img{
    max-width: 100%;
    max-height: 100%;
}

.titlesContainer iframe{
    margin-left: 25px;
}

.titles-btn{
    margin:10px;
    height:50px;
    width: 70%;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid white;
    background:linear-gradient(90deg,rgb(5, 26, 68),rgb(104, 3, 3));
    color:white;
    overflow:hidden;
}

.clicked {
    animation: clickAnimation 1s;
}

@keyframes clickAnimation {
    0% {
        background: rgb(5, 26, 68);
        transform: scale(1);
    }
    50% {
        background: rgb(104, 3, 3);
        transform: scale(1.2);
    }
    100% {
        background: rgb(5, 26, 68);
        transform: scale(1);
    }
}

.manual-btn{
    background-color: #17283a;
    border: 2px solid white;
    border-radius: 50%; 
    width: 16px; 
    height: 16px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background: rgb(192, 8, 8);
}

.showVideoContainer {
    width: 100%;
    height: 80%;
    flex: 1; 
    display: flex;
    justify-content: center;
}

.showVideoContainer video {
    width: 100%;
    height: 100%;
}

.showVideoContainer ul {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 20;
}

.showVideoContainer ul li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

.showVideoContainer ul li video {
    width: 200px;
    transition: all 0.3s;
}

.showVideoContainer ul li video:hover {
    transform: scale(1.1);
}

.showVideoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showVideoContainer ~ .vSlider{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aboutContainer, .titlesContainer{
    display:flex;
    width:100%;
    height: 100vh;
    align-content: center;
    overflow: hidden;
}

.aboutContainer div, .titlesContainer div{
    background: rgba(20, 28, 44, 0.5);
    align-items: center;
    margin:20px;
    width: 100%;
    overflow:hidden;
}

.aboutContainer h2, .titlesContainer h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #17283a;
    border-bottom: 3px rgb(192, 8, 8) solid;
    

}

.aboutContainer h6, .titlesContainerh6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}


.aboutContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 20px;
    
}

.aboutTextContainer{
    max-height:90%;
    max-width: 93%;
    padding: 20px;
    border: 3px rgb(192, 8, 8) solid;
    border-radius: 5px;
}

.aboutTextContainer ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;

}

.suitsContainer{
    display:flex;
    width:100%;
    height: 100vh;
    align-content: center;
    overflow: hidden;
}

.suitsContainerDivs{
    background: rgba(20, 28, 44, 0.5);
    align-items: center;
    margin:20px;
    width: 100%;
    overflow:hidden;

}


#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-25%;
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}

#imgShowFooter {
    display: inline-block; 
    max-width: 100%;
    max-height: 100%; 
    margin-right: 10px;
}

#characterContainer{
    width: 100%;
    height: 100%;
    background: url("../img/background.jpg");
    background-size: 150px 150px;
    animation: scroll 5s linear infinite;
    border-radius: 20px;
    text-align: center;
  }

  @keyframes scroll
  {
      to {
          background-position: -150px -150px;
      }

  }

  #charImage{
    height: 80%;
    width: 100%;
    overflow: hidden;
  }

  #charName{
    z-index: 99999;
    font-size: 40pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(0 0 0.90rem rgb(0, 0, 0));
    left: 25%;
    bottom: 0%;
    color: white;
    font-weight:bold;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}


#charImage img{
    max-width: 100%;
    max-height: 100%;
    animation: glow 2s infinite;
    align-self: center;
}

@keyframes glow{
    0%, 100% {filter: drop-shadow(0 0 0.35rem rgb(0, 247, 255));}
    25% {filter: drop-shadow(0 0 0.65rem rgb(255, 255, 255));}
    50% {filter: drop-shadow(0 0 0.85rem rgb(255, 0, 0));}
}

.buttonChar{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background:linear-gradient(90deg,rgb(5, 26, 68),rgb(104, 3, 3));
    color:white;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
    border-radius: 10px;
}
.buttonChar:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    border-radius: 10px;
}
.buttonChar:hover{
    color: rgb(255, 255, 255);
    font-size: 28px;
}

.suitsContainer img{
    margin:auto;
    padding:10px;
    
}