* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mainIndexContainer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 25px;
    background-image:url('../img/indexwallpaper.jpg');
    background-size: cover;
    background-color:#848e94;
    display: flex;
    flex-direction: column;
}

.mainIndexHeader{
    width: 100%;
    height: 100px; 
    background-color: rgba(20, 28, 44, 0.5);
    padding: 0px;
    display:flex;
    justify-content: space-between;
  
}

.mainIndexButtonsContainer{
    width: 100%;
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-right: 900px;
}

.indexNavigationButtons {
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1; 
    font-weight: bold;
    text-transform: uppercase;

}

.indexNavigationButtons:hover {
    background-color: #17283a;
    border-bottom: 3px rgb(192, 8, 8) solid;
}

.containImg{
    object-fit: contain;
    object-position: 0%;
    width: auto;
    max-width: 160%;
    height: 100%;
}

.headerImages{
    display:flex;
    align-items: center;
    width: 100%;
}

.footerDiv{
    width: 100%;
    height:100vh;
    background-color: rgba(20, 28, 44, 0.5);
    padding: 0px;
    display:flex;
    justify-content: space-between;
    flex:1;
}

.slider{
    width: 1920px;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    margin:auto;

}

.slides{
    width: 500%;
    height: 100vh;
    display:flex;
    border:1px solid white;
}

.slides input{
    display:none;
}

.slide{
    object-fit: contain;
    transition: 2s;
}

.slide img{
    width: 1920px;
    height: 100vh;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    border-radius: 50%; 
    width: 16px; 
    height: 16px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background: #5e0707;
}

#radio1:checked ~ .first{
    margin-left:-0%;
}

#radio2:checked ~ .first{
    margin-left:-20%;
}

#radio3:checked ~ .first{
    margin-left:-40%;
}

#radio4:checked ~ .first{
    margin-left:-60%;
}

#pFooter{
    color: white;
    font-size: 50%;
    margin:auto;
}






