.mainIndexContainer{
    font-family: Arial, Helvetica, sans-serif;
    width: 1865px;
    border: 5px solid black;
    height: 1080px;
    padding: 20px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: -5px;
    background-color:#848e94;
}

.mainIndexHeader{
    width: 1835px;
    height: 200px;
    border: 5px solid black;
    background-image:url(krmainheader.png);
    background-position: 25% 30%;
    background-size: cover;

}


